<p style="color: green"><%= notice %></p>

<h1>Project List</h1>

<table class="table">
  <thead>
    <tr>
      <th>Project</th>
      <th>Language</th>
      <th>Framework</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td>
<%= project.project_name %>


          </td>
          
          <td><%= project.language %></td>
          <td><%= project.framework %></td>
          <td><%= project.description %></td>
          <td><%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %>
          </td>
          
        </tr>
      <% end %>
  </tbody>
</table>
<%= link_to "New project", new_project_path %>
